<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
          #fot{ 
           
            border: 1px solid white;
            margin-top: 70px;
            padding: 30px 0;
            border-right: 0;
            border-left: 0;
            border-bottom: 0;
            
        } 
        .info{
            margin-left: 30%;
        }
         

       
         
    </style>
</head>
<body bgcolor="black">

        <footer id="fot">

          <div class="info" style="color: white;">
            <span>TimeCinema |</span>
            <span>04108 서울 마포구 백범로 23 3층 </span> <br/>
            <span>대표이사: 유훈모 |
            <span>사업자 등록번호 : 123-45-67890 |</span>
            <span>통신판매업신고번호: 02-2023-0000</span> <br/>
            <span>호스팅 사업자 : 한국ICT인재개발원 |</span>
            <span>개인정보 책임자 : 유훈모 |</span>
            <span>대표이메일 : TimeCinema@naver.com</span> <br/>
          </div>

      </footer>
   
</body>
</html>
